body{
    margin: 0;
    
}
#others,
#vinyl_time,
#cd_empire,
#download_era{
    transition: opacity .3s ease-out;
}
#introduction, #conclusions{
    width:100vw;
    height: 100vh;
}
.subsection{
    margin: 25vw 70vw;
    width: 20vw;
    height: 30vw;
    z-index: 999;
}
.section{
    padding-bottom: 25vh;
}
#chart{
    z-index:-1;
}
.sticky{
    position: sticky;
    top:0;
}